figure img{width:100%;}
figure figcaption{font-size:11px;line-height:normal;margin-top:3px;}

figure.right-75{padding:7px;float:right;width:75%;margin:0 0 7px 7px;}
figure.right-66{padding:7px;float:right;width:66%;margin:0 0 7px 7px;}
figure.right-50{padding:7px;float:right;width:50%;margin:0 0 7px 7px;}
figure.right-40{padding:7px;float:right;width:40%;margin:0 0 7px 7px;}
figure.right-33{padding:7px;float:right;width:33%;margin:0 0 7px 7px;}
figure.right-30{padding:7px;float:right;width:30%;margin:0 0 7px 7px;}
figure.right-25{padding:7px;float:right;width:25%;margin:0 0 7px 7px;}
figure.right-20{padding:7px;float:right;width:20%;margin:0 0 7px 7px;}
figure.right-10{padding:7px;float:right;width:10%;margin:0 0 7px 7px;}
figure.left-75{padding:7px;float:left;width:75%;margin:0 7px 7px 0;}
figure.left-66{padding:7px;float:left;width:66%;margin:0 7px 7px 0;}
figure.left-50{padding:7px;float:left;width:50%;margin:0 7px 7px 0;}
figure.left-40{padding:7px;float:left;width:40%;margin:0 7px 7px 0;}
figure.left-33{padding:7px;float:left;width:33%;margin:0 7px 7px 0;}
figure.left-30{padding:7px;float:left;width:30%;margin:0 7px 7px 0;}
figure.left-25{padding:7px;float:left;width:25%;margin:0 7px 7px 0;}
figure.left-20{padding:7px;float:left;width:20%;margin:0 7px 7px 0;}
figure.left-10{padding:7px;float:left;width:10%;margin:0 7px 7px 0;}
figure.center{padding:7px;margin-left:auto;margin-right:auto;margin-bottom:7px;}
figure.center-75{padding:7px;width:75%;margin-left:auto;margin-right:auto;margin-bottom:7px;}
figure.center-50{padding:7px;width:50%;margin-left:auto;margin-right:auto;margin-bottom:7px;}
figure.center-33{padding:7px;width:33%;margin-left:auto;margin-right:auto;margin-bottom:7px;}
figure.center-30{padding:7px;width:30%;margin-left:auto;margin-right:auto;margin-bottom:7px;}

@media (max-width:500px){
figure.right-75{width:100%;}
figure.right-66{width:100%;}
figure.right-50{width:100%;}
figure.right-40{width:100%;}
figure.right-33{width:100%;}
figure.right-30{width:100%;}
figure.right-25{width:100%;}
figure.right-20{width:100%;}
figure.right-10{width:100%;}
figure.left-75{width:100%;}
figure.left-66{width:100%;}
figure.left-50{width:100%;}
figure.left-40{width:100%;}
figure.left-33{width:100%;}
figure.left-30{width:100%;}
figure.left-25{width:100%;}
figure.left-20{width:100%;}
figure.left-10{width:100%;}
figure.center-75{width:100%;}
figure.center-50{width:100%;}
figure.center-33{width:100%;}
figure.center-30{width:100%;}
}